.sound {
  display: flex;
  align-items: center;
  position: relative;

  
}

.sound__btn {
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;
  
  &::before {
    content: '';
    width: 29px;
    height: 3px;
    position: absolute;
    background-color: red;
    display: block;
    left: 4px;
    top: 50%;
    transform: translateY(-50%) rotate(42deg);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s;
  }

  &.active {
    &::before {
      opacity: 1;
    }
  }
}

.sound__mic {
  height: 20px;
  width: 36px;
}

.sound__volume {
  display: flex;
  align-items: center;
}