$containerWidth: 940px;
$baseFontSize: 18px;

$tablets: 768px;
$phones: 480px;

$grey: #F5F5F5;
$white: #ffffff;

$z-fixed-menu: 100;

@import "src/media.scss";

@import "src/layout/normalize.scss";

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap');
@import "src/layout/base.scss";

@import "src/blocks/hero.scss";
@import "src/blocks/header.scss";
@import "src/blocks/features.scss";
@import "src/blocks/feature.scss";
@import "src/blocks/btn.scss";
@import "src/blocks/section.scss";
@import "src/blocks/headline.scss";
@import "src/blocks/benefits.scss";
@import "src/blocks/benefit.scss";
@import "src/blocks/benefits-section.scss";
@import "src/blocks/reviews.scss";
@import "src/blocks/interactive-avatar.scss";
@import "src/blocks/reviews__switcher.scss";
@import "src/blocks/form.scss";
@import "src/blocks/radio.scss";
@import "src/blocks/fixed-menu.scss";
@import "src/blocks/map.scss";
@import "src/blocks/hamburger.scss";
@import "src/blocks/footer.scss";
@import "src/blocks/socials.scss";
@import "src/blocks/assortment.scss";
@import "src/blocks/assortment__composition.scss";
@import "src/blocks/menu--vertical.scss";
@import "src/blocks/team.scss";
@import "src/blocks/products.scss";