.benefit {
  text-align: center;

  @include phones {
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: rem(126px);
  height: rem(126px);
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__image {
  margin-bottom: rem(28px);
  
  @include phones {
    margin-bottom: 0;
  }

}

.benefit__icon {
  width: rem(75px);
  height: rem(69px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

.benefit__title {
  font-weight: bold;
  color: #000;
  font-size: rem(25px);
  margin-bottom: rem(20px);

  @include phones {
    padding: 0 rem(15px);
    margin-bottom: rem(10px);
  }
}

.benefit__desc {
  padding: 0 rem(14px);
  font-size: rem(16px);
  line-height: rem(18px);

  @include tablets {
    padding: 0 rem(8px);
  }

  @include phones {
    padding: 0 16% 0 5%;
  }
}