.btn {
  font-size: rem(16px);
  font-weight: bold;
  padding: rem(19px) rem(40px);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: rem(100px);
  line-height: 1;
  display: inline-block;
  border: none;

  &--theme--red {
    color: #ffffff;
    background: #E01F3D;

    &:hover {
      color: #E01F3D;
      background: #ffffff;
    }
  }

  &--theme--darkred {
    color: #ffffff;
    background: #CA1B36;

    &:hover {
      color: #CA1B36;
      background: #ffffff;
    }
  }

  &--theme--transparent {
    color: #fff;
    background: transparent;
    text-transform: none;
    font-size: rem(16px);
    font-weight: normal;
    margin-left: rem(-22px);

    &:hover {
      color: #000000;
    }
  }

  @include tablets {
    padding: rem(23px) rem(44px);
  }

  @include phones {
    font-size: rem(18px);
  }
}