.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  min-width: 40px;
  height: 40px;
}

.menu__list {
  display: flex;
  align-items: center;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
}

.menu__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.phone-number {
  font-size: 18px; 
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: "Play", Arial, Helvetica, sans-serif;
}

.phone-number__icon-elem {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.menu__link {
  text-decoration: none;
}



