.reviews-section__title {
  margin-bottom: rem(32px);
}

.reviews__container {
  padding: rem(14px) 0 0 0;
}

.reviews__display {
  background: #F8FAF9;
  padding: rem(42px);
  margin-bottom: rem(15px);
  overflow: hidden;
  position: relative;

  @include tablets {
    padding: rem(57px);
  }

  &:before {
    content: "";
    display: block;
    width: rem(90px);
    height: rem(90px);
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: rem(-65px);
  }
}

.reviews__display-inner {
  display: flex;
  align-items: center;

  @include tablets {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__avatar {
  width: rem(254px);
  height: rem(260px);

  @include tablets {
    width: rem(130px);
    height: rem(132px);
    margin-bottom: rem(40px);
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: rem(40px);

  @include tablets {
    margin-left: 0;
  }
}

.reviews__title {
  font-size: rem(24px);
  font-weight: bold;
  margin-bottom: rem(22px);
  color: black;
}

.reviews__text {
  margin-bottom: rem(38px);
  padding: 0 rem(30px) 0 0;
  font-size: rem(16px);

  @include tablets {
    margin-bottom: rem(30px);
  }

  @include phones {
    padding: 0;
  }
}

.reviews__author {
  font-size: rem(18px);
  font-weight: bold;
  color: black;
}