.section {
  height: 100vh;
  min-height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--font-color--white {
    color: #fff;

    .section__title{
      color: inherit;
    }
  }
}

.section__title {
  font-size: 55px;
  line-height: 52px;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.reviews-section {
  position: relative;

  &:before {
    position: absolute;
    bottom: -26px;
    left: 5%;
    content: url("../img/icon/Ellipse.png");
  }
}

.order-section {
  background: url("../img/dark.png") center center /cover no-repeat;

  &__title {
    margin-bottom: 49px;
  }
}
