.team {
  display: flex;
  justify-content: space-between;
}

.team__item {
  flex: 1;
  margin-right: rem(20px);
  text-align: center;
  position: relative;

  @include tablets {
    margin-right: 0;
   
    justify-content: center;
  }

  &:last-child {
    margin-right: 0;
  }
}

.team-section__title {
  @include tablets {
    margin-bottom: rem(35px);
  }
}

.team__photo {
  margin-bottom: rem(25px);

  @include tablets {
    justify-content: center;
    display: flex;
  }

  @include phones {
    width: 30%;
    margin-left: 36%;
    
  }
}



.team__name {
  color: #292929;
  font-weight: bold;
  font-size: rem(20px);
  border: none;
  background-color: white;
  cursor: pointer;
  margin-bottom: rem(11px);
  position: relative;

  @include tablets {
    font-size: rem(21px);
    margin-bottom: rem(18px);
  }

  @include phones {
    margin-bottom: rem(11px);
  }

  &:before {
    content: "";
    position: absolute;
    border: 9px solid transparent; 
    border-top: 9px solid #E01F3D;
    display: block;
    top: 37%;
    right: -10%;
   
  }
}

.team__description{
  overflow: hidden;
  font-size: rem(16px);
  height: 0;
  transition: height .3s;
}

.team--version--desktop .team__description {
  position: absolute;
  top: 100%;

}

.team--version--desktop {
  @include tablets {
    display: none;
  }
}

.team--version--mobile {
  display: none;

  @include tablets {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.team__description-block {
  height: (75px);

  @include tablets {
    height: rem(395px);
  }

  @include phones {
    height: rem(300px);
  }
}

.team__post { 
  color: #292929;

  font-size: rem(16px);
  margin-bottom: rem(4px);

  @include tablets {
    font-size: rem(19px);
    margin-bottom: rem(10px);
    font-weight: bold;
  }

  @include phones {
    margin-bottom: rem(13px);
  }
}

.team__desc {
  color: #666666;
  font-size: rem(16px);

  @include tablets {
    font-size: rem(17px);
    padding: 0 35%;
  }

  @include phones {
    padding: 0 22%;
    line-height: rem(21px);
  }
}