.products-menu-section {
  position: relative;
  background: url("../img/Slider.png") center center/cover no-repeat;
}

.products-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-menu__title {
  position: relative;
  width: 100px;
}