.btn {
  font-size: 19px;
  font-weight: bold;
  padding: 18px 35px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
}
.btn--theme--red {
  background: #E01F3D;
  color: #ffffff;
}
.btn--theme--red:hover {
  color: #E01F3D;
  background: #ffffff;
}