.socials__item:last-child {
  margin-right: 0;
}

.socials__item--icon--vk {
  background: url("../img/icon/css_sprites (2).png") -142px -10px;
}

.socials__item--icon--fb {
  background: url("../img/icon/css_sprites (2).png") -10px -10px;
}

.socials__item--icon--insta {
  background: url("../img/icon/css_sprites (2).png") -54px -10px;
}

.socials__item--icon--telegram {
  background: url("../img/icon/css_sprites (2).png") -98px -10px;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
  margin-right: 5px;
  -webkit-transition-delay: 0.01s;
          transition-delay: 0.01s;
}
.socials__link:hover {
  -webkit-transition: 0.01s;
  transition: 0.01s;
}